<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UBB Cyber Security Academy</title>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css' %>
  <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css' %>
  <%= stylesheet_link_tag 'application', media: 'all' %> <!-- Carga de estilos principales -->
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to image_tag('logo.png', alt: 'UBBCSA Logo'), root_path, class: 'navbar-item' %>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to "Registrarse", new_user_registration_path, class: "button is-light" %>
              <%= link_to "Iniciar sesión", new_user_session_path, class: "button is-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Sección de Hero -->
  <section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          UBB Cyber Security Academy
        </h1>
        <%= link_to "Comenzar", new_user_session_path, class: "button is-dark" %> <!-- Redirección al login -->
      </div>
    </div>
  </section>


  <!-- Sección de Testimonios -->
  <section class="section testimonials has-background-light">
    <div class="container">
      <h2 class="title has-text-centered">Únete a nuestra comunidad de aprendizaje y conéctate con más de 1 usuario</h2>
      <div class="columns is-multiline is-centered">
        <div class="column is-12-mobile is-6-tablet is-3-desktop">
          <div class="box">
            <p>"La academia me ha proporcionado las habilidades necesarias para proteger nuestros sistemas."</p>
            <p><strong>Emily R.</strong> Especialista en Seguridad Informática</p>
          </div>
        </div>
        <div class="column is-12-mobile is-6-tablet is-3-desktop">
          <div class="box">
            <p>"Gracias a esta plataforma, ahora puedo detectar y prevenir ciberataques con eficacia."</p>
            <p><strong>Max L.</strong> Analista de Ciberseguridad</p>
          </div>
        </div>
        <div class="column is-12-mobile is-6-tablet is-3-desktop">
          <div class="box">
            <p>"La ciberseguridad es mi pasión y esta academia ha sido clave para mi desarrollo."</p>
            <p><strong>Ella P.</strong> Consultora de Ciberseguridad</p>
          </div>
        </div>
        <div class="column is-12-mobile is-6-tablet is-3-desktop">
          <div class="box">
            <p>"Me siento seguro y empoderado para enfrentar los desafíos de la ciberseguridad."</p>
            <p><strong>Liam G.</strong> Coordinador de Seguridad</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Sección de Footer -->
  <footer class="footer has-background-dark">
    <div class="content has-text-centered has-text-white">
      <div class="columns is-centered is-multiline">
        <div class="column is-12-mobile is-6-tablet is-3-desktop">
          <h4 class="title is-5 has-text-white">LearnJoy</h4>
          <p>Sobre nuestra plataforma</p>
          <p>Nuestra historia</p>
        </div>
        <div class="column is-12-mobile is-6-tablet is-3-desktop">
          <h4 class="title is-5 has-text-white">Obtener ayuda</h4>
          <p>Soporte estudiantil</p>
          <p>Preguntas</p>
          <p>Necesitas asistencia</p>
        </div>
      </div>
    </div>
  </footer>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      if (navbarBurgers.length > 0) {
        navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {
            const target = el.dataset.target;
            const $target = document.getElementById(target);
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      }
    });
  </script>
</body>
</html>
