<!DOCTYPE html>
<html class="h-full">
<head>
  <title>UBB CSA - <%= content_for?(:title) ? yield(:title) : "Autenticación" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <% if usuario_signed_in? %>
    <meta name="usuario-id" content="<%= current_usuario.id %>">
  <% end %>
</head>
<body class="h-full antialiased" <%= 'data-usuario-id="' + current_usuario.id.to_s + '"' if usuario_signed_in? %>>
  <% if usuario_signed_in? && !(controller_name == 'sessions' && controller.devise_controller?) %>
    <%= render 'shared/navbar' %>
  <% end %>
  
  <%= render "shared/flash" %>
  
  <main>
    <%= yield %>
  </main>
</body>
</html>